source https://api.nuget.org/v3/index.json

storage: none
framework: net7.0

nuget Swashbuckle.AspNetCore
nuget AutoFixture.Xunit2
nuget AspNetCore.HealthChecks.NpgSql
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.ClientInfo
nuget Serilog.Enrichers.Environment
nuget Serilog.Enrichers.Process
nuget Serilog.Enrichers.Thread
nuget Serilog.Exceptions
nuget Serilog.Extensions.Hosting
nuget Serilog.Enrichers.Span
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Trace
nuget Serilog.Formatting.Elasticsearch
nuget Serilog.Sinks.Seq
nuget Microsoft.Extensions.Hosting.Abstractions
nuget StronglyTypedId prerelease
nuget RabbitMQ.Client 
nuget Microsoft.Tye.Extensions.Configuration
nuget AspNetCore.HealthChecks.UI.Client
nuget AspNetCore.HealthChecks.Rabbitmq
nuget Roslynator.Analyzers
nuget SonarAnalyzer.CSharp
nuget AsyncFixer
nuget LanguageExt.Core
nuget Npgsql.EntityFrameworkCore.PostgreSQL
nuget System.Linq.Async
nuget ClrHeapAllocationAnalyzer
nuget EFCore.NamingConventions
nuget Dapper
nuget OpenTelemetry.Extensions
nuget OpenTelemetry.Extensions.Hosting
nuget OpenTelemetry.Instrumentation.AspNetCore
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol.Logs
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol
nuget Npgsql.OpenTelemetry
nuget OpenTelemetry.Api
nuget Testcontainers.RabbitMq
nuget Testcontainers.PostgreSql
nuget Scrutor

nuget AutoFixture
nuget FluentAssertions
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget coverlet.collector
nuget Testcontainers
nuget Microsoft.NET.Test.Sdk
nuget Ogooreck